- @title = "TV1"
- @channelnumber = "1"
- @currentprogram = "Antiikkia, Antiikkia"
- @currentprogramtime = "16:30 - 17:30"



%h2
  = render "/shared/infoarea"
  
  

.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on TV1!
  .timestamp
    16:23

%p
.post
  %img(src="/images/user2.png" alt="Antti")
  Antiikki on TV1 juontaja on vanha lol!
  .timestamp
    16:25

%p
.post
  %img(src="/images/user2.png" alt="Antti")
  %img(src="/images/lollerskates.png" alt="Antti")
  .timestamp
    16:25
    