- @title = "TV2"
- @channelnumber = "2"
- @currentprogram = "Pikku Kakkonen"
- @currentprogramtime = "16:30 - 17:00"


%h2
  = render "/shared/infoarea"


.post
  %img(src="/images/user2.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:03

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!  Antiikki on TV2 on lol!  Antiikki on TV2 on lol!  Antiikki on TV2 on lol!
  .timestamp
    16:04

%p
.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:08

%p  

.post
  %img(src="/images/user2.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:09

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:11

%p
.post
  %img(src="/images/user2.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:12
  
%p  

.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:13

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:14

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:14
  
  
%p
.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:17

%p  

.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:18

%p

.post
  %img(src="/images/user2.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:23

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:23
  