- @title = "MTV3"
- @channelnumber = "3"
- @currentprogram = "CSI Miami - Yeehaa"
- @currentprogramtime = "16:50 - 17:50"


%h2
  = render "/shared/infoarea"


.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on MTV3!
  .timestamp
    16:03

%p

.post
  %img(src="/images/user2.png" alt="Antti")
  Antiikki on TV2 on lol!  Antiikki on MTV3 copter on lol!  Antiikki on TV3 on lol! Copter Antiikki on TV3 on lol!
  .timestamp
    16:04

%p
.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on MTV3!
  .timestamp
    16:08

%p  

.post
  %img(src="/images/user.png" alt="Antti")
  Yo chef
  .timestamp
    16:09

%p

.post
  %img(src="/images/user2.png" alt="Antti")
  Hoplaa hoplaa on MTV3!
  .timestamp
    16:11

%p
.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:12
  
%p  

.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:13

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:14

%p

.post
  %img(src="/images/user2.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:14
  
  
%p
.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:17

%p  

.post
  %img(src="/images/user.png" alt="Antti")
  Hoplaa hoplaa on TV2!
  .timestamp
    16:18

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:23

%p

.post
  %img(src="/images/user.png" alt="Antti")
  Antiikki on TV2 on lol!
  .timestamp
    16:23
  